<page-query @reset="reset" @search="search"></page-query>

<table-action>
  <template #left>
    <a-button type="primary" class="mr16">项目登记</a-button>
    <a-button>导出</a-button>
  </template>
</table-action>

<a-table
  :loading="tableLoading"
  :dataSource="tableData"
  :columns="tableColumns"
  :scroll="{ x: 1500 }"
  :row-selection="{
    selectedRowKeys: tableSelectedKeys,
    onChange: onSelectChange,
    fixed: 'left'
  }"
>
  <template #index="{ index }">{{ index + 1 }}</template>
</a-table>
